
<!-- Logo y titulo -->
<section class="fila" >
  <div  class="contenedor1">
    <div class="col-full-12" >
        <h1>App Menu</h1>
    </div>
  </div>
</section>
<!-- Logo y titulo -->



<!-- Barra de navegacion version Pc -->
<section class="fila" >
  <nav aria-label="" class="contenedor1" >

    <div   class="col-full-2" >
    </div>

    <ul  class="col-full-8 menupc" >
        <li><a href="">Order</a></li>
        <li><a href="">New Products</a></li>
        <li><a href="">Location</a></li>
        <li><a href="">Buy now</a></li>
    </ul>

    <div   class="col-full-2" >
        <i class="fas fa-cog"></i>
    </div>

  </nav>
</section>
<!-- Barra de navegacion  -->


<!-- Menu users -->
<section class="fila user-menu" >
  <nav aria-label="" class="contenedor1" >

    <div   class="col-full-8" >
    </div>

    <ul  class="col-full-4" >
      <li><a href=""><i class="fas fa-user"></i>  Usuario</a></li>
      <li><a href=""><i class="fas fa-map-marker-alt"></i>  Mis Direcciones </a></li>
      <li><a href=""><i class="fas fa-credit-card"></i>  Mis tarjetas</a></li>
      <li class="close-session"  ><a href=""><i class="fas fa-times-circle"></i>  Cerrar Session</a></li>
    </ul>


  </nav>
</section>
<!-- Menu users  -->
