
<!-- Logo y titulo -->
<section class="fila" >
  <div  class="contenedor1">
    <div class="col-full-12" >
        <h1>App Menu</h1>
    </div>
  </div>
</section>
<!-- Logo y titulo -->



<!-- Barra de navegacion version Pc -->
<section class="fila" >
  <nav class="contenedor1" >

    <div   class="col-full-2" >
    </div>

    <ul  class="col-full-8" >
        <li><a href="">Order</a></li>
        <li><a href="">New Products</a></li>
        <li><a href="">Location</a></li>
        <li><a href="">Buy now</a></li>
    </ul>

    <div   class="col-full-2" >
    </div>

  </nav>
</section>
<!-- Barra de navegacion  -->
