<section class="fila  main-container" >

  <div class="contenedor1">

      <div class="col-full-12 col-smarth-12 col-tab-small-12 search-container" >

        <form action="">
          <label for=""></label>
          <input type="text" name="" id="">

          <button>Buscar</button>

        </form>
      </div>

      <div class="col-full-12 col-smarth-12  col-tab-small-12 product-list-tittle" >
        <h2> Productos </h2>
      </div>

      <div class="col-full-3 col-smarth-12 col-tab-small-12  product-list-container"  *ngFor="let item of menuItems " >

        <ul>
          <li><!--  Product list   --->

            <div class="product-image">
              <img [src]=" item.image " alt="No image">
            </div>

            <div class="product-info-container">

                <div class="product-info"><!--  Container 1 info   --->

                  <div class="tags">
                      <p>Descuentos:  {{  (item.id * 1.5 )  / 100000  | number:'1.2-2'  }} %  </p>
                      <p>Envio: Si </p>
                  </div>

                  <div  class="producto-title" >
                    <div class="product-name" >
                        <h3>Nombre del Producto:  {{ item.title }}  </h3>
                        <p>Restaurante:  {{ item.restaurantChain }} </p>
                    </div>
                  </div>

                  <div  class="product-value">
                    <div class="star" >
                      <i class="fas fa-star"   ></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>

                </div>

                <div class="product-price" ><!--  Container 2 info   --->

                    <h3>Precio: $ {{  item.id  / 100000 | number:'1.2-2' }}   </h3>

                </div>

            </div>

          </li><!--  Product list   --->

        </ul>

      </div>

  </div>


</section>



<section class="fila more-products-container" >

  <div class="contanedor1">

    <div class="col-full-12" >

      <button> <a href="">Ver mas productos</a>  </button>



    </div>

  </div>

</section>

