/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff4b6;
}
body i {
  color: #E9A711;
}
img {
  max-width: 100%;
}
header {
  background-color: #024E60;
}
main {
  color: #010C31;
  font-family: "Noto Sans JP", sans-serif;
}
footer {
  color: #FFE9B6;
  font-family: "Roboto", sans-serif;
  background-color: #024E60;
}
.main-container {
  min-height: 400px;
}
label {
  color: #010C31;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  margin-bottom: 18px;
}
h1 {
  font-family: "Dela Gothic One", cursive;
  font-size: 42px;
  color: #A8DDE9;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}
nav a {
  color: #FFEA6D;
  margin: auto 16px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
nav a:hover {
  border-bottom: 2px solid #E9A711;
  color: #E9A711;
}
nav a.actived {
  border-bottom: 2px solid #E9A711;
  color: #E9A711;
}
nav .icon-nav-pc {
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .icon-nav-pc:hover {
  color: #FFEA6D;
}
nav .icon-nav-pc.actived {
  color: #FFEA6D;
}
nav .menupc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 34px;
}
nav .menupc li {
  margin: auto 16px;
}
nav .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  border-radius: 50%;
}
nav .img-container img {
  width: 80%;
  margin: auto;
  border-radius: 50%;
  display: block;
}
.user-menu {
  position: fixed;
  margin-top: -500px;
  z-index: 99;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
}
.user-menu .container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-menu .color {
  background-color: #024E60;
}
.user-menu li {
  margin: 16px auto;
}
.user-menu-activated {
  margin-top: 0px;
}
.user-menu-desactivated {
  margin-top: -500px;
}
.menu-phone {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 6px;
  left: 6px;
  display: none;
}
.menu-phone .menu-phone-icon {
  display: flex;
  justify-content: start;
  align-items: start;
}
.menu-phone .menu-phone-icon i {
  font-size: 28px;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  color: #FFEA6D;
  transition: all 0.3s ease;
}
.menu-phone .menu-phone-icon i:hover {
  color: #E9A711;
}
.menu-phone .menu-phone-background {
  background-color: #024E60;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.menu-phone .menu-phone-ondisplay {
  position: relative;
  left: 0px;
}
.menu-phone .menu-phone-offdisplay {
  position: relative;
  left: -800px;
}
.menu-phone .menu-phone-container {
  position: relative;
  left: -800px;
  transition: all 0.3s ease;
}
.menu-phone .menu-phone-container a {
  font-size: 18px;
}
.main-container {
  margin-top: 34px;
}
.main-container .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .search-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .search-container form input {
  color: #010C31;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 6px;
  border: 3px solid #024E60;
  background-color: rgba(168, 221, 233, 0.3);
  margin-bottom: 20px;
  font-size: 20px;
}
.main-container .search-container form button {
  border-radius: 6px;
  border-top: 3px solid #024E60;
  border-bottom: 3px solid #024E60;
  padding: 6px 12px;
  background-color: rgba(255, 234, 109, 0.3);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  color: #024E60;
  transition: all 0.3s ease;
  margin-bottom: 34px;
  font-size: 20px;
}
.main-container .search-container form button:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #024E60;
  border-right: 3px solid #024E60;
  background-color: #024E60;
  color: #FFEA6D;
}
.main-container .product-list-tittle {
  margin-top: 34px;
  margin-bottom: 34px;
}
.main-container .product-list-tittle h2 {
  color: #010C31;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 34px;
}
.main-container .product-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-container .product-list-container p {
  font-size: 20px;
}
.main-container .product-list-container h3 {
  font-size: 26px;
}
.main-container .product-list-container i {
  font-size: 20px;
}
.main-container .product-list-container .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-height: 300px;
  max-height: 301px;
}
.main-container .product-list-container .product-image img {
  width: 80%;
  max-height: 300px;
  max-height: 301px;
}
.main-container .product-list-container .product-info-container {
  margin: 20px auto;
}
.main-container .product-list-container .product-info-container .tags {
  margin: 16px auto;
}
.main-container .product-list-container .product-info-container .producto-title {
  margin: 16px auto;
}
.main-container .product-list-container .product-info-container .product-price {
  margin: 16px auto;
}
.more-products-container button {
  border-radius: 6px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 6px 12px;
  background-color: rgba(255, 234, 109, 0.3);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 34px;
}
.more-products-container button:hover {
  border-top: 3px solid #024E60;
  border-bottom: 3px solid #024E60;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.more-products-container button a {
  color: #024E60;
  font-size: 20px;
}
.footer {
  margin-top: 34px;
}
.footer p {
  margin-bottom: 16px;
}
.footer h2 {
  font-size: 26px;
  margin-bottom: 34px;
}
.footer .author {
  margin-top: 34px;
}
@media (max-width: 320px) {
  h1 {
    font-size: 30px;
    color: #A8DDE9;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .user-menu-activated {
    margin-top: -500px;
  }

  .user-menu-desactivated {
    margin-top: -500px;
  }

  .main-container {
    min-height: 200px;
  }

  nav {
    font-size: 26px;
  }
  nav a {
    margin: auto 16px;
    border-bottom: 2px solid transparent;
  }
  nav a:hover {
    border-bottom: 2px solid #E9A711;
    color: #E9A711;
  }
  nav .menupc {
    displaY: none;
  }

  .user-menu {
    position: fixed;
    margin-top: -500px;
    z-index: 99;
    top: 0;
    right: 0;
  }
  .user-menu.activated {
    margin-top: 0px;
  }
  .user-menu .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    border-radius: 50%;
  }
  .user-menu .img-container img {
    width: 80%;
    margin: auto;
    border-radius: 50%;
    display: block;
  }
  .user-menu li {
    margin: 12px auto;
  }

  .menu-phone-ondisplay {
    position: relative;
    left: 0px;
  }

  .menu-phone-offdisplay {
    position: relative;
    left: -800px;
  }

  .main-container {
    margin-top: 34px;
  }
  .main-container .search-container form input {
    border-radius: 6px;
    border: 3px solid #024E60;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .search-container form button {
    padding: 6px 12px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .main-container .product-list-tittle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-tittle h2 {
    font-size: 24px;
  }
  .main-container .product-list-container {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-container p {
    font-size: 18px;
  }
  .main-container .product-list-container h3 {
    font-size: 18px;
  }
  .main-container .product-list-container i {
    font-size: 18px;
  }
  .main-container .product-list-container .product-image img {
    width: 80%;
    margin: auto;
  }
  .main-container .product-list-container .product-info-container {
    margin: 16px auto;
  }
  .main-container .product-list-container .product-info-container .tags {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .producto-title {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-price {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-value {
    margin: 12px auto;
    text-align: center;
  }

  .more-products-container button {
    margin-bottom: 20px;
  }
  .more-products-container button a {
    font-size: 12px;
  }

  .footer {
    margin-top: 16px;
  }
  .footer p {
    margin-bottom: 16px;
    font-size: 12px;
  }
  .footer h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .footer .author {
    margin-top: 16px;
  }

  .menu-phone {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 468px) {
  h1 {
    font-size: 30px;
    color: #A8DDE9;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .user-menu-activated {
    margin-top: -500px;
  }

  .user-menu-desactivated {
    margin-top: -500px;
  }

  .main-container {
    min-height: 200px;
  }

  nav {
    font-size: 26px;
  }
  nav a {
    margin: auto 16px;
    border-bottom: 2px solid transparent;
  }
  nav a:hover {
    border-bottom: 2px solid #E9A711;
    color: #E9A711;
  }
  nav .menupc {
    display: none;
  }
  nav .menupc .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    border-radius: 50%;
  }
  nav .menupc .img-container img {
    width: 80%;
    margin: auto;
    border-radius: 50%;
    display: block;
  }

  .user-menu {
    position: fixed;
    margin-top: -500px;
    z-index: 99;
    top: 0;
    right: 0;
  }
  .user-menu.activated {
    margin-top: 0px;
  }
  .user-menu li {
    margin: 12px auto;
  }

  .menu-phone {
    display: block;
  }
  .menu-phone .menu-phone-ondisplay {
    position: relative;
    left: 0px;
  }
  .menu-phone .menu-phone-offdisplay {
    position: relative;
    left: -800px;
  }

  .main-container {
    margin-top: 34px;
  }
  .main-container .search-container form input {
    border-radius: 6px;
    border: 3px solid #024E60;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .search-container form button {
    padding: 6px 12px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .main-container .product-list-tittle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-tittle h2 {
    font-size: 24px;
  }
  .main-container .product-list-container {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-container p {
    font-size: 18px;
  }
  .main-container .product-list-container h3 {
    font-size: 18px;
  }
  .main-container .product-list-container i {
    font-size: 18px;
  }
  .main-container .product-list-container .product-image img {
    width: 80%;
    margin: auto;
  }
  .main-container .product-list-container .product-info-container {
    margin: 16px auto;
  }
  .main-container .product-list-container .product-info-container .tags {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .producto-title {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-price {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-value {
    margin: 12px auto;
    text-align: center;
  }

  .more-products-container button {
    margin-bottom: 20px;
  }
  .more-products-container button a {
    font-size: 12px;
  }

  .footer {
    margin-top: 16px;
  }
  .footer p {
    margin-bottom: 16px;
    font-size: 12px;
  }
  .footer h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .footer .author {
    margin-top: 16px;
  }

  .menu-phone {
    display: block;
  }
}
@media (min-width: 469px) and (max-width: 568px) {
  h1 {
    font-size: 30px;
    color: #A8DDE9;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .main-container {
    min-height: 250px;
  }

  nav {
    font-size: 26px;
  }
  nav a {
    margin: auto 16px;
    border-bottom: 2px solid transparent;
  }
  nav a:hover {
    border-bottom: 2px solid #E9A711;
    color: #E9A711;
  }
  nav .menupc {
    displaY: none;
  }

  .user-menu {
    position: fixed;
    margin-top: -500px;
    z-index: 99;
    top: 0;
    right: 0;
  }
  .user-menu.activated {
    margin-top: 0px;
  }
  .user-menu li {
    margin: 12px auto;
  }

  .menu-phone {
    display: block;
  }
  .menu-phone .menu-phone-ondisplay {
    position: relative;
    left: 0px;
  }
  .menu-phone .menu-phone-offdisplay {
    position: relative;
    left: -800px;
  }

  .main-container {
    margin-top: 34px;
  }
  .main-container .search-container form input {
    border-radius: 6px;
    border: 3px solid #024E60;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .search-container form button {
    padding: 6px 12px;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .product-list-tittle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-tittle h2 {
    font-size: 28px;
  }
  .main-container .product-list-container {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-container p {
    font-size: 18px;
  }
  .main-container .product-list-container h3 {
    font-size: 18px;
  }
  .main-container .product-list-container i {
    font-size: 18px;
  }
  .main-container .product-list-container .product-image img {
    width: 80%;
    margin: auto;
  }
  .main-container .product-list-container .product-info-container {
    margin: 16px auto;
  }
  .main-container .product-list-container .product-info-container .tags {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .producto-title {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-price {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-value {
    margin: 12px auto;
    text-align: center;
  }

  .more-products-container button {
    margin-bottom: 20px;
  }
  .more-products-container button a {
    font-size: 18px;
  }

  .footer {
    margin-top: 16px;
  }
  .footer p {
    margin-bottom: 16px;
    font-size: 12px;
  }
  .footer h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .footer .author {
    margin-top: 16px;
  }

  .menu-phone {
    display: block;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  h1 {
    font-size: 34px;
    color: #A8DDE9;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .user-menu-activated {
    margin-top: 0px;
  }

  .user-menu-desactivated {
    margin-top: -500px;
  }

  .main-container {
    min-height: 280px;
  }

  nav {
    font-size: 26px;
  }
  nav a {
    margin: auto 16px;
    border-bottom: 2px solid transparent;
  }
  nav a:hover {
    border-bottom: 2px solid #E9A711;
    color: #E9A711;
  }
  nav .menupc {
    displaY: none;
  }

  .user-menu-activated {
    margin-top: -500px;
  }

  .user-menu-desactivated {
    margin-top: -500px;
  }

  .user-menu {
    position: fixed;
    margin-top: -500px;
    z-index: 99;
    top: 0;
    right: 0;
  }
  .user-menu.activated {
    margin-top: 0px;
  }
  .user-menu li {
    margin: 12px auto;
  }
  .user-menu .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    border-radius: 50%;
  }
  .user-menu .img-container img {
    width: 80%;
    margin: auto;
    border-radius: 50%;
    display: block;
  }

  .menu-phone {
    display: block;
  }
  .menu-phone .menu-phone-ondisplay {
    position: relative;
    left: 0px;
  }
  .menu-phone .menu-phone-offdisplay {
    position: relative;
    left: -800px;
  }

  .main-container {
    margin-top: 34px;
  }
  .main-container .search-container form input {
    border-radius: 6px;
    border: 3px solid #024E60;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .search-container form button {
    padding: 6px 12px;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .main-container .product-list-tittle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-tittle h2 {
    font-size: 24px;
  }
  .main-container .product-list-container {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-container .product-list-container p {
    font-size: 22px;
  }
  .main-container .product-list-container h3 {
    font-size: 22px;
  }
  .main-container .product-list-container i {
    font-size: 22px;
  }
  .main-container .product-list-container .product-image img {
    width: 80%;
    margin: auto;
  }
  .main-container .product-list-container .product-info-container {
    margin: 16px auto;
  }
  .main-container .product-list-container .product-info-container .tags {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .producto-title {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-price {
    margin: 12px auto;
    text-align: center;
  }
  .main-container .product-list-container .product-info-container .product-value {
    margin: 12px auto;
    text-align: center;
  }

  .more-products-container button {
    margin-bottom: 20px;
  }
  .more-products-container button a {
    font-size: 18px;
  }

  .footer {
    margin-top: 16px;
  }
  .footer p {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .footer h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .footer .author {
    margin-top: 16px;
  }

  .menu-phone {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map*/